/*Header------------------------------ */
header {
    background-color: #C9B178;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.first-header {
    font-family: 'Homemade Apple', cursive;
    padding-left: 30px;
    margin: 0px;
    font-size: 50px;
}

h1 {
    color: black;
    font-size: 30px;
    font-weight: bolder;
}

.header-links {
    margin: 10px;
    padding-top: 20px;
}

.navTabs {
    text-decoration: none;
    border-bottom: solid;
    border-bottom-width: 4px;
    margin-right: 30px;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}

.navTabs:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

/*Subtitle----------------------------------*/

.h2 {
    font-size: 30px;
    background-color: #C9B178;
    font-family: 'Homemade Apple', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    position: absolute;
    left: 50%;
    top: 50%;
}
h2:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .subtitle {
    background-image: url(../images/background.jpg);
    height: 300px;
    background-size: cover;
    border: solid;
    border-width: 10px;
    margin: 0px;
    position: relative;
}

/*About Me Section--------------------------*/

#aboutMe {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.aboutMeHeading {
    border: none;
    border-bottom: solid;
    align-content: center;
    padding: 10px;
    border-width: 2px;
    padding-left: 200px;
}

p {
    font-size: 75%;
    margin: 10px;
    font-family: 'Libre Baskerville', serif;
}

/*Work Section----------------------------------*/

.workHeading {
    border: none;
    border-bottom: solid;
    padding: 10px;
    border-width: 2px;
    padding-left: 214px;
}



main {
    display: flex;
    flex-direction: column;
    background-color: #C9B178;
    margin: 0px;
}

#workImages {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    border: solid;
    border-width: 4px;
    border-color: black;
    margin: 5px;
    position: relative;
    
}

.container {
        position: relative;
}
.bottomLeft {
    position: absolute;
    bottom: 30px;
    left: 29px;
    font-size: 18px;
    text-align: center;
    background-color: black;
    color: #C9B178;
    padding: 10px;
}
.bottomLeft:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.placeholder {
    max-width: 43.5%;
    max-height: 300px;
    height: auto;
    border: solid;
    border-width: 1px;
    border-color: rgb(213, 70, 99);
    margin: 5px;
}

.img-link {
    border-bottom: none;
}

.contactHeading {
    border: none;
    border-bottom: solid;
    padding: 10px;
    border-width: 2px;
    padding-left: 214px;
}
ul {
    list-style-type: none;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 20px;
    padding: 0px;
}

li:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}


@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 700px) {
    
    header {
        size: 100%;
    }
    #aboutMe, #work, #contactMe {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutMeHeading, .contactHeading, .workHeading {
        border-right: none;
        border-bottom: solid;
        padding: 0px;
    }
   
    p {
        text-align: center;
    }
    
    .placeholder, #coffee-image {
        max-width: 91%;
        margin: 10px;
        
    }
   #aboutMeHeading {
    font-size: 18px;
   }
   .work-images {
    grid-template-columns: max-content;
   }
   

    
}